.personal-info-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.personal-info-page h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
}

.error-message, .success-message {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.error-message {
    color: #d9534f;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.success-message {
    color: #1f9914;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}