.notification {
    position: fixed;
    top: 100px;
    right: 30px;
    background-color: #500153;
    color: white;
    padding: 10px 10px 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    animation: slideIn 0.5s ease-out;
  }
  
  .notification button {
    background: transparent;
    border: none;
    color: white;
    font-size:20px;
    cursor: pointer;
    margin-top: 3px;
  }
  
  .notification button:hover {
    color: #8a8a8a;
  }
  
  @keyframes slideIn {
    from {
      right: -300px;
    }
    to {
      right: 20px;
    }
  }  
