.statistics-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    color: #3e1c42;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
  
  .error-message {
    color: #d9534f;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .stat {
    flex: 1 1 45%;
    background-color: #fdf2f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stat h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #3e1c42;
  }
  
  .chart-container {
    width: 100%;
    height: 170%;
  }
  
  .chart {
    width: 100%;
    height: 330px;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 120px;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }  