.product-admin-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px;
  transition: transform 0.2s;
  max-width: 300px;
  text-align: center;
}

.product-admin-item:hover {
  transform: scale(1.02);
}

.product-title {
  font-size: 1.5em;
  color: #110612;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.edit-button,
.delete-button {
  background-color: #1f9914;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #104f0a;
}

.delete-button {
  background-color: #911e0e;
}

.delete-button:hover {
  background-color: #581209;
}