.filter-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .filter-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
  }
  
  .filter-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .clear-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e64a19;
    color: white;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .clear-button:hover {
    background-color: #d83e23;
  }  