footer {
    background: linear-gradient(90deg, #ffdaba, #ffcac6);
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #d83e23; 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
  }
  
  h1 {
    color: #d83e23;
    margin: 0;
    font-size: 10px;
    font-family: 'Georgia', serif;
  }