ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: space-between; 
  padding: 0;
  margin: 0;
}

.product-item {
  padding: 20px;
  border: 2px solid #d83e23;
  border-radius: 10px;
  background-color: #fffaf6;
  color: #d83e23;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px; 
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.product-title {
  font-size: 20px;
  margin: 10px 0;
  color: #ff6347;
}

.product-price {
  font-weight: bold;
}